<footer>
	<div class="row">
		<div class="col-12 col-md-4 col-lg-4 my-4">
			<h5 class="ms-4 text-center">C'est ICI :</h5>
			<p class="ms-4">rue du grand Pont
												74270 FRANGY</p>
		</div>
		<div class="col-12 col-md-4 col-lg-4 my-4">
			<h5 class="text-center">E-mail :
				<a href="{{path('contact_index')}}" class="text-light">
					<strong class="hov">contact@atraverschants.fr</strong>
				</a>
			</h5>
			<p class="d-flex justify-content-around my-4">
				<a href="https://fr-fr.facebook.com/AtraversChantsFrangy74/" target="_blank">
					<i class="fa-brands fa-facebook-square"></i>
				</a>
				<a href="https://www.youtube.com/watch?v=WbiqPU6J6bY" target="_blank">
					<i class="fa-brands fa-youtube-square"></i>
				</a>
				<a href="https://www.instagram.com/frangy_haute_savoie/" target="_blank">
					<i class="fa-brands fa-instagram-square"></i>
				</a>
			</p>
		</div>
		<div class="col-12 col-md-4 col-lg-4 my-4">
			<a href="{{ path('app_index') }}">
				<h5 class="text-center hov">ACCUEIL</h5>
			</a>
			<a href="{{ path('contact_index') }}">
				<h5 class="text-center hov">CONTACT</h5>
			</a>
			<a href="{{ path('app_tarif') }}">
				<h5 class="text-center hov">TARIFS</h5>
			</a>
			<a href="{{ path('app_voix') }}">
				<h5 class="text-center hov">LES VOIX</h5>
			</a>
			<a href="{{ path('app_program') }}">
				<h5 class="text-center hov">PROGRAMME</h5>
			</a>
			<a href="{{ path('app_about') }}">
				<h5 class="text-center hov">A PROPOS</h5>
			</a>
		</div>
	</div>
	<nav class="d-flex justify-content-between">
		<p class=" my-4 ms-4">A TRAVERS CHANTS &copy 2022
		</p>
		<a href="{{ asset('files/Politique de confidentialité.zip')}}" download="" class=" my-4 text-light">
			<strong class="hov">Mentions légales</strong>
		</a>
		<a href="http://cheapo.fr/" target="_blank" class=" my-4 me-4 text-light">Created by
			<strong class="hov">cheapo.fr</strong>
		</a>
	</nav>
</footer>
